{% extends 'base.html.twig' %}

{% block title %}Nova Série{% endblock %}

{% block body %}
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nome da série:</label>
            <input class="form-control" type="text" name="name" placeholder="name" id="name">
        </div>
        <button class="btn btn-dark">Adicionar</button>
    </form>
{% endblock %}

