api-laravel/vendor/
api-laravel/node_modules/

projeto-mocks-php/vendor/
series_manager/vendor/
series-manager/vendor/
books_api/vendor/
books_api/var/
doctrine/vendor/
doctrine/var/
phpunit-projeto-inicial/vendor/

.idea
projeto-mocks-php/.idea/
series_manager/.idea/
series-manager/.idea/
books_api/.idea/
doctrine/.idea/
phpunit-projeto-inicial/.idea/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor
###< symfony/asset-mapper ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
